<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
</head>
<body>
  <h1>Welcome to {{title}}</h1>
  <app-stock-item [stock]="stock" >
    <button (click)="testMethod()">With Button 1</button>
  </app-stock-item>

  <app-stock-item [stock]="stock" >
    No buttons for you!!
  </app-stock-item>

  <!-- <button (click)="changeStockObject()">Change Stock</button>
  <button (click)="changeStockPrice()">Change Price</button> -->
</body>
</html>